<div class="container-fluid navContainer">
  <div class="row navRow">
    <div class="col-md-6 col-sm-12 logo">Angular Universal</div>
    <div class="col-md-6 col-sm-12 pull-right row">
      <div class="col-lg-3 col-md-4 col-sm-3 col-3 navLinks"><a routerLink="/">HOME</a><br ></div>
      <div class="col-lg-3 col-md-4 col-sm-3 col-3 navLinks"><a routerLink="/about">ABOUT US</a></div>
      <div class="col-lg-3 col-md-4 col-sm-3 col-3 navLinks"><a routerLink="/contact">CONTACT US</a></div>
    </div>
  </div>
</div>